* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
html{
    scroll-behavior: smooth;
}
  :root{
      --main-coler:#10cab7;
      --secondary-color: #2c4755;
  }

  body {
    font-family: "work sans", sans-serif;
  }
  .container{
      padding-left: 20px;
      padding-right: 20px;
      margin: auto;
  }
  @media(min-width:786px){
      .container{
          width: 750px;
      }
  }
  @media(min-width:992px){
    .container{
        width: 970px;
    }
}
@media(min-width:1200px){
    .container{
        width: 1170px;
    }
}
.header{
    padding: 20px;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo{
    width: 60px;
}
.header .links {
    position: relative;
}
.header .links:hover .icon span:nth-child(2) {
    width: 100%;
}
.header .links:hover ul{
    display: block;
}
.header .links .icon{
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.header .links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 0;
    min-width: 200px;
    top:calc(100% + 15px);
    display: none;
    z-index: 1;
}
.header .links ul::before {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    right: 5px;
    top: -20px;

}
.header .links .icon span{
    background-color: #333;
    margin-bottom: 5px;
    height: 3px;
}
.header .links .icon span:first-child{
    width: 100%;
}
.header .links .icon span:nth-child(2){
    width: 50%;
    transition: 0.3s;
}
.header .links .icon span:last-child{
    width: 100%;
}
.header .links ul li a{
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: 0.3s;
    font-weight: 800;
}
.header .links ul li a:hover{
    padding-left: 25px;
    color: var(--main-coler);
}
.header .links ul li:not(:last-child){
    border-bottom: 1px solid #ddd;
}
/*landing*/
.landig{
    background-image:url(image/landing.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
}
.landig .intro-text{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    width: 320px;
    max-width: 100%;
}
.landig .intro-text p{
    font-size: 19px;
    line-height: 1.8;
}
.landig .intro-text h1{
    margin: 0;
    color: var(--main-coler);
    font-weight: bold;
    font-size: 50px;
    
    }

/*features*/
.features{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
}
.features .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}
.features .feat{
    padding: 20px;
    text-align: center;
}
.features .feat i{
    color: var(--main-coler);
}
.features .feat i .ico{
    font-weight: 800;
    margin: 30px 0;
}
.features .feat p{
    line-height: 1.8;
    color: #777;
    font-size: 17px;
}
.special-heading{
    color: #ebeced;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;
    font-style: italic;
}
@media (max-width:767px){
    .special-heading{
        width: 60px;
    }
    .special-heading +p{
        margin: -20px;
    }
}
/*services*/
.services{
    padding: 60px 0;
    
}
.services .special-heading +p {
    text-align: center;
    margin: -30px 0 0;
    font-size: 20px;
    color: #797979;
}
.services .services-content{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px,1fr));
    grid-gap: 30px;
    margin-top: 100px;
}
.services .services-content .ser{
    display: flex;
    margin-bottom: 40px;
}
@media(max-width:1199px){
    .services .services-content .ser{
    flex-direction: column;
    text-align: center;
    }
    .services .services-content .image {
        display: none;
    }
}
.services .services-content .ser i{
    color: var(--main-coler);
    flex-basis: 60px;
}
.services .services-content .ser .text {
    flex: 1;
    
}
.services .services-content .ser h4{
    margin-top: 0px;
    color: var(--main-coler);
    font-style: italic;
}
.services .services-content .ser p{
    color: #444;
    line-height: 1.6;
    font-weight: 300;
}
.services .services-content .image{
    text-align: center;
    position: relative;
}
.services .services-content .image::before{
    content: "";
    background-color: var(--secondary-color);
    width: 100px;
    height: calc(100% + 100px);
    position: absolute;
    z-index: -1;
    top: -54px;
    right: 0;
}
.services .services-content .image img{
    width: 260px;
}
/*potofolio*/
.portofolio{
    padding: 60px 0;
    background-color: #f6f6f6;
    
}
.portofolio .special-heading +p {
    text-align: center;
    margin: -30px 0 0;
    font-size: 20px;
    color: #797979;
}
.portofolio .portofolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px,1fr));
    grid-gap: 30px;
    margin-top: 100px;
}
.portofolio .card{
    background-color: white;
}
.portofolio .card img{
    width: 100%;
}
.portofolio .card .info{
    padding: 20px;
}
.portofolio .card .info h3{
    margin: 0;
}
.portofolio .card .info p {
    color: #777;
    line-height: 1.6;
    margin-bottom: 0;
}
/*About*/
.about{
    padding: 60px 0;
    background-color: #ffffff;
    
}
.about .special-heading +p {
    text-align: center;
    margin: -30px 0 0;
    font-size: 20px;
    color: #797979;
}
.about .about-content{
    display: flex;
    margin-top: 100px;
    flex-wrap: wrap;
    justify-content: space-between;

}
.about .about-content .image {
    position: relative;
    width: 250px;
    height: 375px;
    z-index: 1;
}
.about .about-content .image img{
    max-width: 100%;
}

.about .about-content .image::after{
    content: "";
    position: absolute;
    width: 120px;
    height: 300px;
    right: -152px;
    top: -25px;
    border-bottom: 80px solid var(--main-coler);
    border-left: 80px solid var(--main-coler);
    z-index: -1;
}
.about .about-content .text{
    flex-basis: calc(100% - 500px);
    position: relative;
}
.about .about-content .text p:first-of-type{
    font-weight: bold;
    margin-bottom: 28px;
    line-height: 2;
}
.hr{
    position: relative;
    padding-bottom: 5px;
}
.about .about-content .text hr{
    border-color: var(--main-coler);
    width: 50%;
    display: block;
    position: absolute;
    left: 0;

    
    
}
.about .about-content .text p:last-of-type{
    line-height: 2;
    color: #777;
    padding-top: 14px;
}
@media(max-width:991px){
    .about .about-content{
        flex-direction: column;
        text-align: center;
    }
    .about .about-content .text hr{
        position: absolute;
        left: 25%;
    }
    .about .about-content .image::after{
        display:none;
    }
    .about .about-content .image {
        margin: 0 auto 60px;
    }
}
/*contant*/
.contant{
    padding: 60px 0;
    background-color: #f6f6f6;
    
}
.contant .special-heading +p {
    text-align: center;
    margin: -30px 0 0;
    font-size: 20px;
    color: #797979;
}
.contant .info{
    padding: 60px 0;
    text-align: center;
}
.contant .info .label{
    font-size: 35px;
    font-weight: 900;
    color: var(--secondary-color);
    letter-spacing: -2px;
    margin-bottom: 15px;
}
.contant .info .link{
    display: block;
    font-size: 35px;
    font-weight: 900;
    color: var(--main-coler);
    letter-spacing: -2px;
    margin-bottom: 20px;
    text-decoration: none;
}
.contant .info .social{
    display: flex;
    justify-content: center;
    font-size: 16px;
}
.contant .info .social i{
    color: var(--secondary-color);
    margin-left: 10px;
}
@media(max-width:767px){
    .contant .info .link{
        width: 20px;
        display: inline;
        padding: 5px;
    }
    .contant .info .label{
        width: 20px;
        display: inline;
        padding: 5px;
    }
    .contant .container{
        display: grid;
        grid-template-columns: repeat(auto-fill , minmax(300px,1fr));
        grid-gap: 30px;
        margin-top: 100px;
    } 
    .special-heading{
        display: none;
    }
    .portofolio .card .info{
        text-align: center;
    }
}
/*footer*/
.footer{
    background-color: var(--secondary-color);
    color: white;
    font-size: 18px;
    text-align: center;
    padding: 25px 10px;

}
.footer span{
    color: var(--main-coler);
    font-weight: 800;
}

